$white: #F7F7F7;
$seagreen: #709a83;
$macncheese: #FFD289;
$darkgray: #2D2D2A;
$black: #0f0f0f;

.t-white {color: $white;}
.t-seagreen {color: $seagreen;}
.t-macncheese {color: $macncheese;}
.t-darkgray {color: $darkgray;}
.t-black {color: $black;}


.bg-white {background-color: $white;}
.bg-seagreen {background-color: $seagreen;}
.bg-macncheese {background-color: $macncheese;}
.bg-darkgray {background-color: $darkgray;}
.bg-black {background-color: $black;}