h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin-bottom: .5rem;
  line-height: 1.2;
}
h1 {font-size: 2.5rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.9rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.2rem;}
h6 {font-size: 1rem;}

p {
  margin-bottom: 2rem;
}

a {
  display: block;
  color: $seagreen;
  text-decoration: none;
  transition: color .2s;
  &:hover {
    color: darken($seagreen, 20%);
  }
}

ul, ol {

}

li {
  
}

.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}

.t-xsmall {font-size: .6rem;}
.t-small {font-size: .8rem;}
.t-medium {font-size: 1rem;}
.t-large {font-size: 1.4rem;}
.t-xlarge {font-size: 2rem;}