{{ partial "header.html" . }}

<header>
  {{ .Content }}
</header>

<ul class="articles-list list pl0">
    <!-- Ranges through content/snippets/*.md -->
    {{ range $index, first 20 .Data.Pages }}
    <li class="dib ba bw1 b--seagreen pa4 tc w-33">
      <a class="f4 db" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="ttu f6 gray mb0">Posted {{ .Date.Format "January 2, 2006" }}</p>
      {{ if .Params.categories }}
        <p class="ttu f6 gray mb0">
          Categories:
          {{ $categories := (.Params.categories) }}
          {{ $len := (len $categories) }}

          {{range $index, $element := $categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if eq (add $index 1) $len }}{{ else }},{{ end }}

          {{end}}
        </p>
      {{end}}
    </li>
    {{ end }}
</ul>
 
{{ partial "footer.html" . }}

