{{ partial "header.html" . }}

{{ .Content }}

<section class="gallery gallery--archive">
  {{ range .Data.Pages }}
    <article role="article">
      <figure class="ma0">
        <a class="db pa1 ba b--nearwhite gray hover-seagreen" href="{{ .RelPermalink }}">
          <img src="{{ $.Site.Params.cloudinary }}/t_thumb/{{ .Params.albumfolder }}/{{ .Params.featuredimage }}" alt="{{ .Title }}">
          <figcaption class="tc f6 fw2 pa3">
            {{ .Title }}
          </figcaption>
        </a>
      </figure>
    </article>
  {{ end }}
</section>


{{ partial "footer.html" . }}

