<figure itemscope itemtype="http://schema.org/ImageObject" class="ma0">
  <a class="db" href="{{ $.Site.Params.cloudinary }}/t_large-watermark/{{ .Page.Params.albumfolder }}/{{ .Get `file` }}" itemprop="contentUrl" data-size="{{ .Get `size` }}">
    <img class="lazyload h-auto" data-src="{{ $.Site.Params.cloudinary }}/t_square2/{{ .Page.Params.albumfolder }}/{{ .Get `file` }}" itemprop="thumbnail" alt="{{ .Get `caption` }}" width="650" height="650">
    <figcaption itemprop="caption description" class="tc f6 fw2 gray bg-white pa3">
      {{ .Get "caption" }}
    </figcaption>
  </a>
  <figcaption itemprop="caption description" class="dn">
    {{ .Get "caption" }}
  </figcaption>
</figure>
