{{ $albumfolder := .Page.Params.albumfolder }}
<figure itemscope itemtype="http://schema.org/ImageObject">
  <!-- <a href="{{ $.Site.Params.cloudinary }}/t_large/{{ $albumfolder }}/{{ .Get "file" }}" itemprop="contentUrl" data-size="{{ .Get "size" }}"> -->
    <img src="{{ $.Site.Params.cloudinary }}/t_thumb/{{ $albumfolder }}/{{ .Get "file" }}" itemprop="thumbnail" alt="{{ .Get "caption" }}">
  
    <figcaption itemprop="caption description">
      {{ .Get "caption" }}
    </figcaption>
  <!-- </a> -->
</figure>