<form name="contact" action="/thank-you" data-netlify="true" netlify-honeypot="honeybot" class="bg-nearwhite mr-auto ml-auto pa3 measure-wide">
  
  <label for="honeybot" class="dn">
    <span>Leave this blank</span>
    <input type="text" name="honeybot">
  </label>

  <label for="name" class="db mb3">
    <span class="fw4 f5 db ttu mb1">Name</span>
    <input class="pa1 w-100 b--black-20 pa2 f3 ba bw1" type="text" name="name">
  </label>

  <label for="email" class="db mb3">
    <span class="fw4 f5 db ttu mb1">Email</span>
    <input class="pa1 w-100 b--black-20 pa2 f3 ba bw1" type="email" name="email">
  </label>

  <label for="comments" class="db mb3">
    <span class="fw4 f5 db ttu mb1">Comments</span>
    <textarea class="pa1 w-100 b--black-20 pa2 f3 ba bw1" name="comments" rows="5"></textarea>
  </label>

  <input class="bg-seagreen hover-bg-gray pointer white tracked ttu bw0 pa3 ph4" type="submit" name="submit" value="Submit">
</form>